<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GEEK SPORTS CARDS - GEEKSPORTSCARDS-DOT-COM</title>
<meta content="GEEKSPORTSCARDS-DOT-COM" name="author" />
<meta content="Sports Cards Collectables and Memorabilia " name="description" />
<meta
content="geeksportscards-dot-com Sports Trading Cards NBA MLB NHL NFL Fleer Hoops 1986 1986-87 1987 1987-88 1988 1988-89 1989 1989-90 1990 1990-91 Set LOT Basketball Football Baseball Hockey Premier Sticker Insert Draft Rookie Card RC HOF Hall Of Fame NM Near-Mint NM-MT Near Mint-Mint MT Mint EX-MT Excellent-Mint GEM-MT Gem-Mint Condition Slab Graded PSA BSG CSG CGC eBay Auction Buy It Now Memorabilia Collectables autographs"
name="keywords" />
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Include Font Awesome CSS via CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link href="css/gsc_font.css" rel="stylesheet" />
<!--Google Fonts: Bebas Neue-->
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap" rel="stylesheet" />
<link
href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
rel="stylesheet" />
<!-- Style for the "Go to Top" button -->
<style>
#goToTopBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
width: 40px; /* Set width to make it a square */
height: 40px; /* Set height to make it a square */
font-size: 15px;
border: none;
outline: none;
background-color: white;
color: black;
cursor: pointer;
padding: 0; /* Remove padding to ensure it remains a square */
text-align: center; /* Center the text horizontally */
line-height: 40px; /* Center the text vertically */
}

/* Just for styling the popover content */
.custom-popover-content {
padding: 10px;
}
</style>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5R11Z2BEKW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5R11Z2BEKW');
</script>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<div class="container px-4 px-lg-5">
<span class="gsc-navbar-brand1">G<span class="gsc-navbar-brand2">S</span><span class="gsc-navbar-brand1"></span>C</span>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
data-bs-toggle="dropdown" aria-expanded="false">Buy</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<li>
<a class="dropdown-item" href="https://www.ebay.com/str/geeksportscards"
target="_blank">
eBay Store
</a>
</li>
</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" id="navbarDropdownConnect" href="#" role="button"
data-bs-toggle="dropdown" aria-expanded="false">Connect With Us</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownConnect" style="width: 280px;">
<li class="pb-3">
<a class="dropdown-item" href="https://www.linkedin.com/company/geek-sports-cards"
target="_blank">
LinkedIn Page
</a>
</li>
<li class="pb-3">
<a class="dropdown-item" href="mailto:info@geeksportscards.com" target="_blank">
info@geeksportscards.com
</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>

<!-- dark logo Header-->
<header class="gsc-bg-dark py-5 d-none d-sm-block" style="height: 200px;">
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
<div class="col-md-6 text-center text-white">
<img src="assets/img/gsc_logo.png" alt="Logo" class="img-fluid">
</div>
</div>
</div>
</header>

<!-- Red Header
<header class="gsc-bg-red py-5">
<div class="container px-4 px-lg-5 my-5">
<div class="text-center text-white">
<h1 class="display-4 fw-bolder">Shop in style</h1>
<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
</div>
</div>
</header> -->

<!-- Main Section-->
<section class="py-5">
<div class="container px-4 px-lg-5 mt-5">

<!-- Search-->
<div class="search-container w-80 d-flex align-items-center" style="font-size: 13px;">
<select id="searchCategory" class="form-control" style="height: 35px; width: 130px; font-size: 13px; appearance: none; border: 1px solid #ced4da; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; outline: none; box-shadow: none; padding-right: 40px; background-color: #f2f2f2; background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' width=\'24\' height=\'24\' fill=\'none\' stroke=\'%23333\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\'><path d=\'M6 9l6 6 6-6\' /></svg>'); background-repeat: no-repeat; background-position: calc(100% - 10px) center;">
<option value="Any" style="font-weight: 600;">CATEGORY</option>
<option value="Basketball">BASKETBALL</option>

<!-- <option value="Football">FOOTBALL</option>
<option value="Baseball">BASEBALL</option>
<option value="Hockey">HOCKEY</option>
<option value="Non-Sport">NON-SPORT</option> -->

</select>
<input id="searchInput" type="text" placeholder="Search player, brand, year, card name or number" style="width: 400px; border-radius: 0; outline: none;" onclick="clearInput()" onkeydown="checkEnter(event)">
<button onclick="search(); showFilter()">Search</button>
</div>

<!-- listing format filter -->
<div class="search-container" id="resultsfilterContainer" style="margin-bottom: 20px; font-size: 13px;">
<!-- Add hidden radio button for default listing type -->

<label class="radio-label" style="margin-right: 10px;">
<input type="radio" name="condition" value="Any" id="conditionAny" style="vertical-align: middle; transform: scale(1.3);" checked> &nbsp; ALL
</label>
<label class="radio-label" style="margin-right: 10px;">
<input type="radio" name="condition" value="Ungraded" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; UNGRADED
</label>
<label class="radio-label" style="margin-right: 10px;">
<input type="radio" name="condition" value="Graded" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; GRADED
</label>
<span style="font-weight: 700;">|</span>
<input type="radio" name="listingType" value="Any" id="listingTypeAny" checked style="display: none;">
<!-- Add radio buttons for filtering listing type -->
<label class="radio-label" style="margin-right: 10px; margin-left: 10px;">
<input type="radio" name="listingType" value="Chinese" style="vertical-align: middle; transform: scale(1.3);">&nbsp; AUCTION
</label>
<label class="radio-label" style="margin-right: 10px;">
<input type="radio" name="listingType" value="FixedPriceItem" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; BUY NOW
</label>
<br><br>
</div>
<!-- Total Items Count -->
<div style="margin-bottom: 10px; margin-top: 5px;" id="totalItems"></div>
<!-- Condition / Attribute filter -->
<div id="resultsfilterContainer" style="margin-bottom: 5px; font-size: 13px;">
<label class="checkbox-label" style="margin-right: 10px;">
<input type="checkbox" name="attribute" value="RC" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; ROOKIE CARD
</label>
<label class="checkbox-label" style="margin-right: 10px;">
<input type="checkbox" name="attribute" value="HOF" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; HALL OF FAME
</label>
<label class="checkbox-label" style="margin-right: 10px;">
<input type="checkbox" name="attribute" value="UER" style="vertical-align: middle; transform: scale(1.3);"> &nbsp; ERROR
</label>
</div>
<br>

  <div class="row gx-4 gx-lg-4 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center" id="results">
      <!-- This is where search results will be displayed -->
  </div>
</div>


</div>
</section>
<!-- Start Footer -->
<footer id="footer">
<div class="container">
<div class="row">
<!-- ABOUT US -->
<div class="col-md-4 pt-5 pb-3">
<h2 class="fs-4 border-bottom pb-3 border-light logo" style="color: #d9b310;">ABOUT US</h2>
<ul class="list-unstyled text-light footer-link-list">
<li class="fs-5">
Ebay Top-Rated Seller
</li>
<li class="gsc-footer-text">
<p>One of eBay's most reputable sellers. Consistently delivering outstanding customer
service.</p>
<p>geeksportscards-dot-com <i class="fa fa-sharp fa-solid fa-star fa-2xs"
style="color: #63E6BE;"></i><br>
Positive Feedback: 100% (last 12 months)<br>
<small class="text-muted">Updated every 30 days</small>
</p>
</li>
<li class="gsc-footer-text">
<i class="fas fa-map-marker-alt fa-fw"></i>
Denver, Colorado & Las Vegas, Nevada
</li>
</ul>
</div>
<!-- END ABOUT US -->
<!-- QUICK LINKS -->
<div class="col-md-4 pt-5 pb-3 pl-5">
<h2 class="fs-4 text-light border-bottom pb-3 border-light">LINKS</h2>
<div class="row">
<div class="col-sm-6">
<ul class="list-unstyled before-arrow">
<li>
<a class="text-decoration-none gsc-footer-text"
href="https://www.ebay.com/usr/geeksportscards-dot-com" target="_blank"> eBay
Store</a>
</li>
</ul>
</div>
</div>
</div>
<!-- END QUICK LINKS -->
<!-- CONTACT US -->
<div class="col-md-4 pt-5 pb-3">
<h2 class="fs-4 text-light border-bottom pb-3 border-light">STAY CONNECTED</h2>
<div class="mb-3">
<div>
<ul class="list-inline text-left footer-icons">
<li class="list-inline-item border border-light rounded-circle text-center">
<a class="text-light text-decoration-none"
href="https://www.ebay.com/usr/geeksportscards-dot-com" target="_blank"><i
class="fab fa-ebay fa-lg fa-fw"></i></a>
</li>
<li class="list-inline-item border border-light rounded-circle text-center">
<a class="text-light text-decoration-none"
href="https://www.linkedin.com/company/96603901" target="_blank"><i
class="fab fa-linkedin fa-lg fa-fw"></i></a>
</li>
<li class="list-inline-item border border-light rounded-circle text-center">
<a class="text-light text-decoration-none" href="mailto:info@geeksportscards.com"
target="_blank"><i class="fa fa-envelope fa-lg fa-fw"></i></a>
</li>
</ul>
</div>
</div>
</div>
<!-- END CONTACT US -->
</div>
<!-- END ROW -->
</div>
<!-- END CONTAINER -->
<div class="w-100 bg-dark py-3">
<div class="container">
<div class="row pt-2">
<div class="col-12">
<p class="text-center text-light" style="font-size: 12px;">Copyright © 2024 Geek Sports Cards
</p>
<p class="text-center text-light" style="font-size: 12px;">A Geek Incorporated Company</p>
<p class="text-center" style="font-size: 12px;"><span
style="color: #d9b310 ">Disclosure:</span><span class="text-light"> links from this site
to affiliate platforms or marketplace can result in this site earning a commission.
Affiliations include, but are not limited to, the eBay Partner Network.</span></p>
</div>
</div>
</div>
</div>
<!-- FOOTER COPYRIGHT INFO END -->
</footer>
<!-- End Footer -->
<!-- "Go to Top" button -->
<button onclick="goToTop()" id="goToTopBtn" title="Go to top">
<i class="fas fa-arrow-up"></i>
</button>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>